@font-face {
    font-family: 'zombie';
    src: url('fontes/ZOMBIE.TTF') format('truetype');
}
@font-face {
    font-family:'god';
    src: url('fontes/GODOFWAR.TTF') format('truetype');
}

:root {
    --fundo: grey;
    --cor0: red;
    --footer: blue;
    --header: orange;
}

*{
    margin:0;
    padding:0;
}

header{
    width: 100%;
    background-color: var(--header);
    text-align: center;
    color: white;
    min-height: 100px;
}

header>p{
    margin-top: 10px;
}

nav{
    margin-top:15px;
}

a{
    margin: 0px 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: white;
}

body{
    background-color: var(--fundo);
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 10px 10px;
}

article{
    margin: 5px 0px;

}

.title{
    margin-bottom: 30px;

}

h2{
    margin: 10px 0px;
}

.resident{
    font-family: 'zombie', Helvetica, sans-serif;
}

img{
    width: 100%;
}

div.video{
    text-align: center;
    background-color: var(--footer);
    margin: 0px -10px 0px -10px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video>iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

footer{
    background-color: var(--footer);
    text-align: center;
}

footer>p>a{
    color: white;
}

footer>p>a:active{
    color: grey;
}

footer>p>a::after{
    content: '\1F517';
}