@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family:"estranho" ;
    src: url("fontes/idroid.otf") format("opentype");
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    background-color: rgba(43, 219, 122, 0.87);
}
header{
    background-image: linear-gradient(to top, #145e14,#3ce43c);
    width: 100%;
    height: 261px;
    margin: 0;
}
.tecnologia{
    
    padding-top:41px;
    text-align: center;
    color: white;
}
.tech{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    margin-top:52px;
    margin-bottom: 20px;
}
nav{
  margin-left: 14px;
    margin-top: 63px;
}
a{
    font-weight: 900;
    text-decoration: none;
    margin: 5px;
    color: white;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color:yellow;
}
main{
    box-shadow: 1px 1px 5px black;
    padding: 10px 26px;
    width:1030px;
    margin:0px  auto;
    background-color: white;
}
h1{
    font-family: "estranho", Helvetica, sans-serif;
}
h2{
    font-family: "estranho", Helvetica, sans-serif;
}
aside{
   margin: 20px -11px;
}
.learnmore{
box-sizing: border-box;
margin: -11px;   
background-color: green;
height: 30px;
padding: 3px;
border-radius: 10px 10px 0px 0px;
}
iframe{
    border: 23px solid rgba(3, 83, 3, 0.534);
    margin-left: 223px;
}
p{
    margin: 10px;
}
.entao{
    background-color: white;
}
.bot{
    margin-left:318px;
}
h3{
    background-color: green;
    margin: 0;
    height: 40px;
    padding: 9px;
}
.assunto{
padding: 10px;
background-color: rgb(166, 253, 166);
}
footer{
    background-color: green;
    text-align: center;
    height: 40px;
    padding-top:3px ;
    margin-top: 19px;
}
footer>p{
    color: white;
}
.gustavoguanabara{
    color: white;
}
.cursoemvideo{
    color: rgb(255, 255, 255);
}
.irina{
    width: 1031px;
    margin-left: -27px;
    padding: 10px;
}
.droids{
    width: 1031px;
    margin-left: -20px;
}
span{
    color: white;
    font-weight: 900;
}
.separação{
    margin-left: 600px;
    margin-top: -145px;
}